<h1> Edit Your Character </h1>

<%= render 'form' %>

<br>

<%= form_for [@house, @character], method: :delete do |f| %>

  <%= f.submit "Kill this character!", class: 'button'%>

<% end %>

<br>

<%= link_to "Back to #{@character.name}", house_character_path(@house, @character) %>

<br><br>

<%= link_to "Back to #{@house.name}", house_path(@house) %><br><br>

<%= link_to "Back to houses", houses_path %>
